.time{
    text-align: center;
    background: #D9F7E9;
    padding: 32px;
}

.time h3{
    font-size: 32px;
    border-bottom: 4px solid #57C278;
    border-radius: 20%;
    display: inline-block;
    padding-bottom: 8px;
}